progress[value] {
  &.color- {
    &20 {
      --color: #e93434;
    }
    &40 {
      --color: #e99334;
    }
    &60 {
      --color: #e9b434;
    }
    &80 {
      --color: #dbe934;
    }
    &100 {
      --color: #34e95e;
    }
  }

  --background: rgb(18, 18, 20);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 5px;
  width: 200px;
  margin: 0 10px;
  border-radius: 20em;
  background: var(--background);
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}
