main.form-login_register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  section {
    background: #202024;
    width: clamp(200px, 85%, 400px);
    border-radius: 8px;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    gap: 40px 0px;
    justify-content: center;
    align-items: center;

    padding: 32px 0;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
    }

    h2 {
      text-align: center;
      margin-block: 0px;
      margin-inline: 0;
      font-weight: bold;
      font-size: 26px;
    }
  }
}
