main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  section {
    background: #202024;
    width: clamp(200px, 85%, 400px);
    border-radius: 8px;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    gap: 40px 0px;
    justify-content: center;
    align-items: center;

    padding: 32px 0;

    h2 {
      text-align: center;
      margin-block: 0px;
      margin-inline: 0;
      font-weight: bold;
      font-size: 26px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;

      input {
        transition: ease-out 0.3s;
        width: 80%;
        outline: none;
        height: 40px;
        padding: 0 10px;
        border-radius: 8px;
        color: white;
        background: rgb(18, 18, 20);
        border: solid;
        border-color: rgb(18, 18, 20);
        font-size: 16px;

        &:focus,&:target {
          transition: ease 0.3s;
          border: solid;
          border-color:#8234E9;
        }
      }

      button {
        border: 0;
        width: 80%;
        height: 40px;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: ease-out 0.3s;
        cursor: default;
        border: 2px solid #8234E9;
        background-color: #202024;

        &:hover{
          transition: ease 0.3s;
          cursor: pointer;
          background-color: #8234E9;
        }
      }

      small {
        color: #8234E9;
        font-size: 14px;
        font-weight: bolder;
      }
    }
  }
}
